<form action="<%= users_url %>">
    <input type="text" name="user[email]" id="email">
    <input type="password" name="user[password]" id="password">
    <input type="button" value="Sign Up!">
</form>
